:root {
    --font-size: 1vw;
    --color-red: #bd114c;
    --color-yellow: #ffb03a;
    --color-blue: #00008b;
    --color-purple: #A020F0;
}

html {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: calc(var(--font-size) + 14px);
    font-size: calc(var(--font-size) + 14px);
    line-height: 1.4;
}

h1,
h2,
h3 {
    color: var(--color-red);
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    

}


h1 {
    font-size: calc(var(--font-size) * 6);
    background-image: linear-gradient(100deg,var(--color-red), var(--color-blue));
    background-clip: text;
    color: transparent;
}


h2 {
    font-size: calc(var(--font-size) + 32px)
}

h3 {
    font-size: 1.5rem;
}

p {
    font-size: 1.25rem;
}

nav a {
    text-decoration-style: wavy;
}

nav ul:hover {
    background-image: linear-gradient(180deg,var(--color-yellow), var(--color-red));
    max-width: 15%;
}

section {
    margin-left: 100px;
}

p {
    text-align: center;
    font-size: larger;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 700px;
}